# Flutter / Dart

.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Flutter generated

.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# Android

android/.gradle/
android/app/build/
android/local.properties
*.keystore
*.jks

# iOS

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# MacOS

macos/Pods/

# Windows

windows/flutter/ephemeral/

# Linux

linux/flutter/ephemeral/

# Web

build/web/

# IDE

.vscode/
.idea/
*.iml

# Logs

*.log
